---
http_interactions:
- request:
    method: get
    uri: http://libris.kb.se/xsearch?format=json&q=91-1-927571-4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"xsearch\": {\r\n\"from\": 1,\r\n\"to\": 1,\r\n\"records\": 1,\r\n\"list\":
        [\r\n{\r\n\"identifier\": \"http://libris.kb.se/bib/7156259\",\r\n\"title\":
        \"Sent i november\",\r\n\"creator\": \"Jansson, Tove, 1914-2001\",\r\n\"isbn\":
        \"9119275714 ;\",\r\n\"type\": \"book\",\r\n\"publisher\": \"Stockholm : Norstedt\",\r\n\"date\":
        \"1992\",\r\n\"language\": \"swe\",\r\n\"description\": \"li: S\"\r\n}\r\n]\r\n}}"
  recorded_at: Wed, 23 Nov 2016 20:37:15 GMT
recorded_with: VCR 3.0.3
