

<div class="row">
  <div class="small-4 column">
    <%= render partial: "top_ten", locals: { media: @movies } %>
  </div>
  <div class="small-4 column">
    <%= render partial: "top_ten", locals: { media: @books } %>
  </div>
  <div class="small-4 column end">
    <%= render partial: "top_ten", locals: { media: @albums } %>
  </div>
</div>



<!-- <p>This is the /main/index.html.erb page</p> -->
