<!-- BEGIN LIBRIS search box -->
<div style="background: #191919 url(http://libris.kb.se/images/bg2_2.gif) bottom repeat-x; width: 300px;">
<div style="background: url(http://libris.kb.se/images/main2_2.gif) no-repeat; width: 300px;">
  <form style="margin: 0; padding: 7px 0 11px 100px;" method="get" target="_blank" action="http://libris.kb.se/formatQuery.jsp?" accept-charset="UTF-8" onsubmit="window.open('http://libris.kb.se/formatQuery.jsp?SEARCH_ALL='+ encodeURIComponent(document.getElementById('LIBRIS_SEARCH2').value),'LIBRIS'); return false;">
    <fieldset style="margin: 0; padding: 0; border: none;">
      <legend style="margin: 0; padding: 0; display: none;">Sök i LIBRIS</legend>
      <div><input name="SEARCH_ALL" id="LIBRIS_SEARCH2" type="text" style="vertical-align: bottom; font-size: 11px; width: 70%;"/> <input type="submit" value="sök" style="vertical-align: bottom; cursor: pointer; font-size: 11px;"/></div>
    </fieldset>
  </form>
</div>
</div>
<!-- END LIBRIS search box -->

<h1>Book Beep</h1>
<h2>- där böcker scannas och sparas på molnet</h2>
